.comment{
  .comment-edit{
    .editor{
      width: 800px;
    }
    .comment-btn{
      margin-left: 42px;
      margin-top: 10px;
    }
  }
  .comment-list {
    .comment-empty{
      color: #909497;
    }
  }
}