.issue-container {
  .issue-type-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .issue-main {
    margin-top: 10px;
    display: flex;

    .left-side {
      width: 900px;
      margin-right: 10px;
      flex: 0 0 auto;
      .issue-list-empty{
        height: 100px;
        background-color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #909497;
      }
      .pagination {
        margin: 10px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #fff;
        height: 100px;
      }
    }

    .right-side {
      flex: 1 1 auto;

      .add-issue {
        margin-bottom: 20px;

        .add-issue-btn {
          width: 100%;
        }
      }
    }
  }
}