@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('../fonts/iconfont.ttf?t=1673073241539') format('truetype');
}

*{
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 70px 0 0 0;
  background-color: #E5E7E9;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,h2,h3,h4,h5,h6{
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: normal;
}
ul{
  padding: 0;
  margin: 0;
}
li{
  list-style-type: none;
}
.App .main{
  width: 1200px;
  margin: auto;
}
.flex{
  display: flex;
}
.align-item-center{
  align-items: center;
}
.justify-content-center{
  justify-content: center;
}
.justify-content-between{
  justify-content: space-between;
}
.flex-wrap{
  flex-wrap: wrap;
}

.m-10{
  margin: 10px;
}
.m-20{
  margin: 20px;
}
.m-30{
  margin: 30px;
}

.mt-10{
  margin-top: 10px;
}
.mt-20{
  margin-top: 20px;
}
.mt-30{
  margin-top: 30px;
}

.mr-10{
  margin-right: 10px;
}
.mr-20{
  margin-right: 20px;
}
.mr-30{
  margin-right: 30px;
}

.mb-10{
  margin-bottom: 10px;
}
.mb-20{
  margin-bottom: 20px;
}
.mb-30{
  margin-bottom: 30px;
}

.ml-10{
  margin-left: 10px;
}
.ml-20{
  margin-left: 20px;
}
.ml-30{
  margin-left: 30px;
}

.p-10{
  padding: 10px;
}
.p-20{
  padding: 20px;
}
.p-30{
  padding: 30px;
}

.pt-10{
  padding-top: 10px;
}
.pt-20{
  padding-top: 20px;
}
.pt-30{
  padding-top: 30px;
}

.pr-10{
  padding-right: 10px;
}
.pr-20{
  padding-right: 20px;
}
.pr-30{
  padding-right: 30px;
}

.pb-10{
  padding-bottom: 10px;
}
.pb-20{
  padding-bottom: 20px;
}
.pb-30{
  padding-bottom: 30px;
}

.pl-10{
  padding-left: 10px;
}
.pl-20{
  padding-left: 20px;
}
.pl-30{
  padding-left: 30px;
}

.fsz-12{
  font-size: 12px;
}
.fsz-14{
  font-size: 14px;
}
.fsz-16{
  font-size: 16px;
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-jiangbei-:before {
  content: "\e6af";
}

.bc-white{
  background-color: #fff;
}
